version: "3.8"

services:
  pancreas-app:
    build:
      context: ..
      dockerfile: deployment/Dockerfile
    container_name: pancreas_app
    ports:
      - "7860:7860"
      - "8000:8000"
    volumes:
      - ../src:/app
    depends_on:
      - prometheus

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ../monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus

